<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354515119742-glgletngk9iif0nfirmutu3cbvoig749.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354515119742-glgletngk9iif0nfirmutu3cbvoig749</string>
	<key>API_KEY</key>
	<string>AIzaSyAbAFMSSDBhTlj96Mtuz2hifLfIDHp70yo</string>
	<key>GCM_SENDER_ID</key>
	<string>354515119742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FlutterApp.hearsome</string>
	<key>PROJECT_ID</key>
	<string>hearsome-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>hearsome-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354515119742:ios:8af74f27fa8e0ef2b0322f</string>
</dict>
</plist>